{% extends 'articles/base.html' %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <li><a href ="{% url 'articles:author' author_id %}">{{author.last_name}}{{author.first_name}}</a></li>
    <p>{{ article.text }}</p>
    <p><strong>Likes: {{ article.likes }}</strong></p>
    <form method="post" action="{% url 'articles:like' %}">
        {% csrf_token %}
        <input type="hidden" name="article_id" value="{{ article.id }}"/>
        <input type="submit" value="Like"/>
    </form>
{% endblock %}
