<html>
<head>
    <title>Shop APP</title>
</head>
<body>
    <h1>Products:</h1>
         <li>{{shop.category}
    <ul>
      <li>Купить молоко</li>
      <li>Купить хлеб</li>
    </ul>
  </li>
</body>
</html>


<!--        <h1><a href="/products">Go to all products page</a></h1>-->
<!--        <h1><a href="/favorite-products">Go to favorite products page</a></h1>-->
<!--        <h1>{product_name} </h1>-->
<!--        <h2>Category: {product.category}</h2>-->
<!--        <p>{product.description}</p>-->
<!--        <form action="/product/{product.id}/star" method="post">-->
<!--            <input type="Submit" value="{star_button_title}"/>-->
<!--        </form>-->
<!--    </body>-->
<!--    </html>-->